{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand text-dark" href="#"><img src="{% static 'img/skola-logo.png' %}" alt="Školní knihovna"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavId">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Úvodní stránka <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sportovec_list' %}">Sportovci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="akce_list">Akce</a>
            </li>
        </ul>
    </div>
</nav>